html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #ffffff url('../img/geometry2.png'); /* Background pattern from Subtle Patterns */
    font-family: 'Coda', cursive;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

/*
 * Styles for the deck of cards
 */

.deck {
    width: 660px;
    min-height: 680px;
    background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
    padding: 32px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
}

.deck .card {
    height: 125px;
    width: 125px;
    background: #2e3d49;
    font-size: 0;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

.deck .card.open {
    transform: rotateY(0);
    background: #02b3e4;
    cursor: default;
}

.deck .card.show {
    font-size: 33px;
}

.deck .card.match {
    cursor: default;
    background: #02ccba;
    font-size: 33px;
}

.deck .card.nomatch {
  background: #f00;
}

.deck .card.disable {
  pointer-events: none;
}

/*
 * Styles for the Score Panel
 */

.score-panel {
    color: #fff;
    text-align: left;
    width: 345px;
    margin-bottom: 20px;
    padding: 15px;
    background: -webkit-linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
    background: -o-linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
    background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
}

.score-panel .stars {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
}

.score-panel .stars li {
    list-style: none;
    display: inline-block;
}

.score-panel .restart {
    float: right;
    cursor: pointer;
}

.fa-star {
  color: #ff0;
}

.timer {
  display: inline-block;
  margin: 0 1em;
}

/*
 * Modal
 */
.modal {
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.modal-content {
  align-items: center;
  background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
  border-radius: 10px;
  color: #fff;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-weight: bold;
  justify-content: center;
  margin: 100px auto;
  padding: 25px;
  position: relative;
  width: 60%;
}

.modal-content .close {
  color: #fff;
  font-size: 1.5em;
  font-weight: bold;
  height: 2em;
  position: absolute;
  text-align: center;
  text-decoration: none;
  top: 10px;
  right: 0;
  width: 2em;
}

.modal-content .close:hover {
  color: #f00;
}

#rePlay {
  background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
  border: none;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
  letter-spacing: 1px;
  outline: none;
  padding: 0.5em 1.5em;
  width: 100%;
}

#rePlay:hover {
  background: linear-gradient(160deg, #aa7ecd 0%, #02ccba 100%);
}

.show {
  display: block;
}

#showRating li {
  display: inline-block;
}

/* animation */
.rotateIn {
  animation-duration: 0.8s;
}

/* Media */
@media screen and (max-width: 360px) {
  .deck {
    width: 85%;
  }
  .deck .card {
    margin: 4px;
    height: 6rem;
    width: 6rem;
  }
}
@media screen and (min-width: 361px) and (max-width: 640px) {
  .deck {
    padding: 22px;
    width: 85%;
  }
  .deck .card {
    margin: 4px;
    height: 7rem;
    width: 7rem;
  }
  .modal-content {
    margin: 3px auto;
  }
  .modal-content p:first-of-type {
    margin: 0;
  }
}
